<% if @error %>
<p> <%= @error %> </p>
<% end %>

<h2><%= t('.title') %></h2>
<%= form_with(model: @payment_method) do |f| %>
  <div>
    <%= f.select :payment_type, ['Pix', 'Boleto', 'Cartão de Crédito'] %>
  </div>
  <div>
    <%= f.select :pix_type, ['Email', 'Telefone', 'Chave Aleatória', 'CPF', 'CNPJ'] %>
  </div>
  <div>
    <%= f.label :pix_key, t('.pix_key') %>
    <%= f.text_field :pix_key %>
  </div>
  <div>
    <%= f.label :card_number, t('.card_number') %>
    <%= f.text_field :card_number %>
  </div>
  <div>
    <%= f.label :agency_number, t('.agency_number') %>
    <%= f.text_field :agency_number %>
  </div>
  <div>
    <%= f.label :code_bank, t('.code_bank') %>
    <%= f.text_field :code_bank %>
  </div>
  <%= f.submit t('.submit') %>
<% end %>
