<%= form_with model: @subscription_plan do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>
  <div class: "form-check">
    <%= f.radio_button :plan_type, "Playlist", checked: true, class: "form-check-input" %>
    <%= f.label :plan_type_playlist, "Playlist", class: "form-check-label" %>
  </div>
  <div class: "form-check">
    <%= f.radio_button :plan_type, "Streamer", class: "form-check-input" %>
    <%= f.label :plan_type_streamer, "Streamer", class: "form-check-label" %>
  </div>

  <%= f.submit %>
<% end %>
