<h1><%= t('.title') %></h1>

<% if @subscription_plans.present? %>
  <table class="table">
    <tr>
      <th><%= SubscriptionPlan.human_attribute_name(:title) %></th>
      <th><%= SubscriptionPlan.human_attribute_name(:current_value) %></th>
      <th><%= SubscriptionPlan.human_attribute_name(:plan_type) %></th>
    </tr>
    <% @subscription_plans.each do |subscription_plan| %>
      <tr>
        <td><%= link_to subscription_plan.title, subscription_plan_path(subscription_plan) %></td>
        <td><%= subscription_plan.current_value %></td>
        <td><%= t(subscription_plan.plan_type) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ainda não há planos cadastrados</p>
<% end %>

<% if current_user&.admin? %>
  <div><%= link_to 'Novo Plano', new_subscription_plan_path %></div>
<% end %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
