<p><%= "#{SubscriptionPlan.human_attribute_name(:title)}: #{@subscription_plan.title}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:description)}: #{@subscription_plan.description}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:value)}: #{number_to_currency(@subscription_plan.value)}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:current_value)}: #{number_to_currency(@subscription_plan.current_value)}" %></p>

<div><%= link_to 'Preços dinâmicos', subscription_plan_subscription_plan_values_path(@subscription_plan) %></div>

<% if @user_subscription_plan.present? %>
  <p>Situação da assinatura: <%= t(@user_subscription_plan.status) %></p>
<% end %>
<% if @user_subscription_plan.nil? || @user_subscription_plan.rejected? %>
  <div><%= link_to 'Assinar plano', new_user_subscription_plan_path(subscription_plan_id: @subscription_plan.id) %></div>
<% end %>

<div><%= link_to 'Voltar', subscription_plans_path %></div>
