<p><%= "#{SubscriptionPlan.human_attribute_name(:title)}: #{@subscription_plan.title}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:description)}: #{@subscription_plan.description}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:value)}: #{number_to_currency(@subscription_plan.value)}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:current_value)}: #{number_to_currency(@subscription_plan.current_value)}" %></p>
<% if @subscription_plan.streamer? %>
  <% if @subscription_plan.streamer.present? %>
    <%= @subscription_plan.streamer&.name %>
    <div><%= link_to 'Editar Streamer', edit_subscription_plan_streamer_path(@subscription_plan.subscription_plan_streamer) %></div>
  <% else %>
    <div><%= link_to 'Associar Streamer', new_subscription_plan_subscription_plan_streamer_path(@subscription_plan) %></div>
  <% end %>
<% end %>

<% if @subscription_plan.playlist? %>
  <div><%= link_to t('plan_playlists'), subscription_plan_subscription_plan_playlists_path(@subscription_plan) %></div>
<% end %>
<div><%= link_to SubscriptionPlanValue.model_name.human(count: 2), subscription_plan_subscription_plan_values_path(@subscription_plan) %></div>

<% if @user_subscription_plan.present? %>
  <p>Situação da assinatura: <%= t(@user_subscription_plan.status) %></p>
<% end %>
<% if @user_subscription_plan.nil? || @user_subscription_plan.rejected? %>
  <div><%= link_to 'Assinar plano', new_user_subscription_plan_path(subscription_plan_id: @subscription_plan.id) %></div>
<% end %>

<div><%= link_to t('links.go_back'), subscription_plans_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
