<p><%= "#{SubscriptionPlan.human_attribute_name(:title)}: #{@subscription_plan.title}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:description)}: #{@subscription_plan.description}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:value)}: #{number_to_currency(@subscription_plan.value)}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:current_value)}: #{number_to_currency(@subscription_plan.current_value)}" %></p>

<div><%= link_to 'Preços dinâmicos', subscription_plan_subscription_plan_values_path(@subscription_plan) %></div>

<% if current_user.has_subscription_plan?(@subscription_plan) %>
  <p>Você possui uma assinatura desse plano.</p>
<% else %>
  <div><%= link_to 'Assinar plano', new_user_subscription_plan_path(subscription_plan: { id: @subscription_plan }) %></div>
<% end %>

<div><%= link_to 'Voltar', subscription_plans_path %></div>
