<%= form_with model: @video do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :title, placeholder: :title, class: "form-control" %>
    <%= f.label :title %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :duration, placeholder: :duration, class: "form-control" %>
    <%= f.label :duration %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :video_url, placeholder: :video_url, class: "form-control" %>
    <%= f.label :video_url %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :maturity_rating, placeholder: :maturity_rating, class: "form-control" %>
    <%= f.label :maturity_rating %>
  </div>
  <div class="form-floating mb-3">
    <%= f.collection_select :streamer_id, Streamer.order(:name), :id, :name, {}, class: "form-select" %>
    <%= f.label :streamer_id, Streamer.model_name.human %>
  </div>
  <div class="form-check mb-3">
    <%= f.check_box :allow_purchase, class: "form-check-input" %>
    <%= f.label :allow_purchase, class: "form-check-label" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :value, placeholder: :value, class: "form-control" %>
    <%= f.label :value %>
  </div>

  <div class="mb-3 row">
		<div class="form-check">
			<%= f.radio_button :status, "active", class:"form-check-input" %>
			<%= f.label :status_active, Video.human_enum_name(:status, :active), class:"form-check-label" %>
			</label>
		</div>
		<div class="form-check">
			<%= f.radio_button :status, "inactive", class:"form-check-input" %>
			<%= f.label :status_inactive, Video.human_enum_name(:status, :inactive), class:"form-check-label" %>
			</label>
		</div>
	</div>

	<% unless @categories.nil? %>
			<div class="mb-3 row">
					<ul>
							<li><%= f.collection_check_boxes :video_category_ids, @categories, :id, :title %></li>
					</ul>
			</div>	
	<% end %>

 <%= f.submit data: { disable_with: t('messages.sending') }, class: "btn btn-primary mt-3 mb-3" %>
<% end %>
