<h1><%= t('.title') %></h1>

<% if @videos.present? %>
  <table>
    <tr>
      <th><%= Video.human_attribute_name(:title) %></th>
      <th><%= Video.human_attribute_name(:duration) %></th>
      <th><%= Video.human_attribute_name(:maturity_rating) %></th>
    </tr>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video_path(video) %></td>
        <td><%= video.duration %></td>
        <td><%= video.maturity_rating%></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ainda não há vídeos cadastrados</p>
<% end %>

<div><%= link_to 'Novo vídeo', new_video_path %></div>

<div><%= link_to 'Voltar', :back %></div>
