<p><%= "#{Video.human_attribute_name(:title)}: #{@video.title}" %></p>
<p><%= "#{Video.human_attribute_name(:duration)}: #{@video.duration}" %></p>
<p><%= "#{Video.human_attribute_name(:video_url)}: #{@video.video_url}" %></p>
<p><%= "#{Video.human_attribute_name(:maturity_rating)}: #{@video.maturity_rating}" %></p>

<div><%= link_to 'Voltar', :back %></div>
