<h1><%= t('.title') %></h1>

<%= render "shared/errors", resource: @subscription_plan_streamer %>

<%= form_with model: @subscription_plan_streamer do |f| %>
  <div class="form-floating mb-3">
    <%= f.collection_select :streamer_id, @streamers, :id, :name, {}, class: "form-select" %>
    <%= f.label :streamer_id, Streamer.model_name.human %>
  </div>

  <%= f.submit class: "btn btn-primary mt-3 mb-3" %>
<% end %>

<div><%= link_to t('links.go_back'), subscription_plan_path(@subscription_plan), class: "btn btn-outline-primary mt-3 mb-3" %></div>
