<%= form_with model: @user_profile do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :full_name, placeholder: :full_name, class: "form-control" %>
    <%= f.label :full_name %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :social_name, placeholder: :social_name, class: "form-control" %>
    <%= f.label :social_name %>
  </div>
  <div class="form-floating mb-3">
    <%= f.date_field :birth_date, placeholder: :birth_date, class: "form-control" %>
    <%= f.label :birth_date %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :cpf, placeholder: :cpf, class: "form-control" %>
    <%= f.label :cpf %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :zipcode, placeholder: :zipcode, class: "form-control" %>
    <%= f.label :zipcode %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :address_line_one, placeholder: :address_line_one, class: "form-control" %>
    <%= f.label :address_line_one %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :address_line_two, placeholder: :address_line_two, class: "form-control" %>
    <%= f.label :address_line_two %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :city, placeholder: :city, class: "form-control" %>
    <%= f.label :city %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :state, placeholder: :state, class: "form-control" %>
    <%= f.label :state %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :country, placeholder: :country, class: "form-control" %>
    <%= f.label :country %>
  </div>

  <%= f.submit data: { disable_with: t('messages.sending') }, class: "btn btn-primary mt-3 mb-3" %>
<% end %>
