<h1 class="text-center display-3 mb-5"><%= t('.title') %></h1>

<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to t('.purchases_historic'), user_purchase_history_path, class: "btn btn-outline-primary mb-3" %>
  <%= link_to t('.video_history'), user_video_history_path, class: "btn btn-outline-primary mb-3" %>
  <%= link_to t('.my_subscription'), user_my_subscription_plans_path, class: "btn btn-outline-primary mb-3" %>
  <%= link_to t('.my_videos'), user_my_videos_path, class: "btn btn-outline-primary mb-3" %>
  <%= link_to t('.reimbursement'), '#', class: "btn btn-outline-primary mb-3" %>
</div>
