<h1><%= t('.title') %></h1>

<% if @streamers.present? %>
  <table class="table">
    <tr>
      <th><%= Streamer.human_attribute_name(:name) %></th>
      <th><%= Video.model_name.human(count: 2) %></th>
    </tr>
    <% @streamers.each do |streamer| %>
      <tr>
        <td><%= link_to streamer.name, streamer_path(streamer) %></td>
        <td><%= streamer.videos.count %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ainda não há streamers cadastrados</p>
<% end %>

<%= link_to t('.new_streamer'), new_streamer_path %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
