<h1><%= t('.title') %></h1>

<%= render "shared/search", path: search_streamers_path %>

<% if @streamers.present? %>
  <table class="table">
    <tr>
      <th><%= Streamer.human_attribute_name(:name) %></th>
      <th><%= Video.model_name.human(count: 2) %></th>
    </tr>
    <% @streamers.each do |streamer| %>
      <tr>
        <td><%= link_to streamer.name, streamer_path(streamer) %></td>
        <td><%= streamer.videos.count %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t('.message_nothing') %></p>
<% end %>

<% if current_user&.admin? %>
  <%= link_to t('links.new_streamer'), new_streamer_path, class: "btn btn-outline-primary mt-3 mb-3" %>
<% end %>

<% if current_user&.admin? %>
  <div><%= link_to 'Streamers Inativos', inactive_streamers_streamers_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
<% end %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
