<h1><%= t('.title') %></h1>

<h3><%= SubscriptionPlan.model_name.human %>: <%= @subscription_plan.title %></h3>

<%= link_to 'Associar Playlist', new_subscription_plan_subscription_plan_playlist_path(@subscription_plan) %>

<% if @subscription_plan_playlists.present? %>
  <table class="table">
    <tr>
      <th><%= Playlist.human_attribute_name(:title) %></th>
      <th></th>
    </tr>
    <% @subscription_plan_playlists.each do |spp| %>
      <tr playlist-id="<%= spp.id %>">
        <td><%= spp.playlist.title %></td>
        <td><%= button_to 'Remover', subscription_plan_playlist_path(spp), method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ainda não há playlists associadas a esse plano</p>
<% end %>

<div><%= link_to t('links.go_back'), @subscription_plan %></div>
