<h2><%= t('.title') %></h2>

<%= render "shared/errors", resource: @user_subscription_plan %>

<p><%= "#{SubscriptionPlan.human_attribute_name(:title)}: #{@subscription_plan.title}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:description)}: #{@subscription_plan.description}" %></p>
<p><%= "#{SubscriptionPlan.human_attribute_name(:current_value)}: #{number_to_currency(@subscription_plan.current_value)}" %></p>

<%= form_with model: @user_subscription_plan do |f| %>
  <%= f.hidden_field :payment_method_token, value: 'bkDsZHl9XV' %>
  <%= f.hidden_field :subscription_plan_id, value: @subscription_plan.id %>

  <%= f.submit data: { disable_with: t('messages.sending') }, class: "btn btn-primary mt-3 mb-3" %>
<% end %>
