<%= form_with model: @playlist do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :title, placeholder: :title, class: "form-control" %>
    <%= f.label :title %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :description, placeholder: :description, class: "form-control" %>
    <%= f.label :description %>
  </div>
  <div class="mb-3 row">
    <%= f.label :playlist_cover, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.file_field :playlist_cover, class: "form-control" %>
    </div>
  </div>
  <div>
    <%= f.label :streamer_ids, Streamer.model_name.human%>
    <%= f.collection_check_boxes :streamer_ids, Streamer.all, :id, :name %>
  </div>
   <div>
    <%= f.label :video_ids, Video.model_name.human%>
    <%= f.collection_check_boxes :video_ids, Video.all, :id, :title %>
  </div>
		<div>
    <% unless @categories.nil? %>
      <ul>
        <li><%= f.collection_check_boxes :video_category_ids, @categories, :id, :title %></li>
      </ul>
    <% end %>
  </div>
  <%= f.submit data: { disable_with: t('messages.sending') }, class: "btn btn-primary mt-3 mb-3" %>
<% end %>
