<h1><%= t('.title') %></h1>

<%= render 'shared/search', path: search_playlists_path %>

<% if @playlists.present? %>
  <table class="table">
    <tr>
      <th><%= SubscriptionPlan.human_attribute_name(:title) %></th>
      <th><%= SubscriptionPlan.human_attribute_name(:description) %></th>
    </tr>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.title, playlist_path(playlist) %></td>
        <td><%= playlist.description %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t('.message_nothing') %></p>
<% end %>

<% if current_user&.admin? %>
  <div><%= link_to t('links.new_playlist'), new_playlist_path %></div>
<% end %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
