<p><%= "#{Playlist.human_attribute_name(:title)}: #{@playlist.title}" %></p>
<p><%= "#{Playlist.human_attribute_name(:description)}: #{@playlist.description}" %></p>
<p><%= "#{Playlist.human_attribute_name(:status)}: #{Playlist.human_enum_name(:status, @playlist.status)}" %></p>

<% unless @playlist.video_categories.nil? %>
	<% @playlist.video_categories.each do |category|  %>
		<ul>
			<li><%= "#{Playlist.human_attribute_name(:video_category)}: #{category.title}" %></li>
		</ul>
	<% end %>
<% end %>

<% @playlist.videos.each do |v| %>
 <%= "#{Video.human_attribute_name(:video)}: #{v.title}"%>
 Video url:<%= link_to v.video_url %>
<% end %>

<% @playlist.streamers.each do |s| %>
 <%= "#{Streamer.human_attribute_name(:streamer)}: #{s.name}"%>
<% end %>

<div><%= link_to t('.edit'), edit_playlist_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
<div><%= link_to t('links.go_back'), playlists_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
