<p><%= "#{Playlist.human_attribute_name(:title)}: #{@playlist.title}" %></p>
<p><%= "#{Playlist.human_attribute_name(:description)}: #{@playlist.description}" %></p>
<p><%= "#{Playlist.human_attribute_name(:status)}: #{Playlist.human_enum_name(:status, @playlist.status)}" %></p>

<% unless @playlist.video_categories.nil? %>
  <p><%= "#{Playlist.human_attribute_name(:video_category)}: "%></p>
  <ul>
    <% @playlist.video_categories.each do |category|  %>
        <li><%= category.title %></li>
    <% end %>
  </ul>
<% end %>

<table class="table">
  <tr>
    <th><%= "#{Video.human_attribute_name(:video)}" %></th>
    <th><%= t('.video_url')%></th>
  </tr>
  <% @playlist.videos.each do |v| %>
    <tr>
      <td><%= v.title %></td>
      <td><%= link_to v.video_url %></td>
    </tr>
    <% end %>
</table>


<% @playlist.streamers.each do |s| %>
  <%= "#{Streamer.human_attribute_name(:streamer)}: #{s.name}"%>
<% end %>
<% if current_user&.admin? %>
  <div><%= link_to t('.edit'), edit_playlist_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
<% end %>
<div><%= link_to t('links.go_back'), playlists_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
